@mixin onOther {
  @media (min-width: 1170px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 60px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 360px;
    width: 100%;
    padding: 0 16px;

    @include onTablet {
      padding: 0 32px;
    }
  
    @include onDesktop {
      padding: 0 60px;
    }

    @include onOther {
      max-width: 1170px;
      padding: 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-container {
    background-image: url(./images/logo.svg);
    background-size: cover;
    width: 104px;
    height: 26px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.button {
  height: 34px;
  width: 100px;
  border-radius: 80px;
  background: #F4E041;
  cursor: pointer;
  border: none;
}

.about {
  &__image {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/pexels-alexandr-podvalny-1227513.jpeg');
    background-size: cover;
    overflow: hidden;
    background-position: bottom;
    margin: 0 auto;
    min-width: 360px;
    max-width: 1170px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include onTablet {
    }
  
    @include onDesktop {
      height: 650px;
    }

    @include onOther {
      height: 650px;
    }
  }

  &__container {
    max-width: 380px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 21px;
    line-height: 40px;
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Nunito';
  }

  &__paragraph {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Nunito';
  }

  &__button {
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
}
